.debug{
    border: solid 1px red;
}

#statusbar{
    background-color: var(--main-dark);
    width: calc(100vw - 10px);
    height: 25px;

    z-index: 2000;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    border: ridge 5px var(--second-dark);
}

#statusbar span{
    padding: 0px 10px;
}

body{
    overflow: hidden;
}

#files{
    margin-top: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    font-size: 0.8em;
}

.fileline{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: top;

    margin: 15px 10px;
}

.file{
    font-size: 0.9em;
    margin: 0px 10px;
    width: 64px;

    align-items: center;
}

.file img{
    width: 58px;
    height: 58px;
    display: block;
    margin: 0px auto;
}

.file p{
    width: 100%;
    margin: 0px;
    margin-top: 7px;

    text-align: center;
}

.window{
    position: absolute;
    width: 800px;
    height: 550px;
    padding-bottom: 4px;

    border: ridge 8px var(--second-dark);
}

.active-window{
    border: ridge 8px var(--purple);
}

.windowbar{
    height: 25px;
    font-size: 0.8em;
    background-color: var(--main-dark);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: ridge 5px var(--second-dark);
}

.active-window .windowbar{
    border-bottom: ridge 5px var(--purple);
}

.windowbar span{
    padding: 0px 10px;
}

.winframe{
    margin: 0px;
    width: 100%;
    height: calc(100% - 25px);
}

.winframe iframe{
    width: 100%;
    height: 100%;
}

.close-win::selection{
    color: inherit;
    background-color: transparent;
}