#fbashbody p{
    margin: 0px;
    margin-top: 2px;
}

.ps1{
    color: var(--purple);
    white-space: nowrap;
}

#inputline{
    width: 95%;
    padding-bottom: 5px;

    background-color: var(--main-dark);

    display: flex;
    flex-direction: none;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

#fbashinput{
    font-family: "courier prime";
    font-size: 14px;
    
    color: var(--main-light);
    background-color: var(--main-dark);
    resize: horizontal;

    border: none;
    padding-left: 10px;

    width: 100%;
}

#fbashinput:focus{
    border: none;
    outline: none;
}

td{
    width: 50%;
}